.bg-primary {
    background-color: $primary_color;
}

.color-primary {
    color: $primary_color;
}

.bg-secondary {
    background-color: $secondary_color;
}

.bg-dark {
    background-color: $dark;
}

.bg-light {
    background-color: $light_color;
}

.bg-hover-primary:hover {
    background-color: rgba($primary_color, 10%);
}

.font-title {
    font-family: $title_font;
}

.bottom-bordered {
    border-bottom: rgba(64, 64, 64, 0.2) 1px solid;
}

.content-wrapper {
    padding: 0;
    padding-top: $navbar_height;
}

.nav {
    height: $navbar_height;
}